/* CSS Document */
/* Sizing */
.width-100 {
	width: 100%;
}
.height-100 {
	height: 100%;
}

.height-vp {
	height: 100vh;
}
.height-vp50 {
	height: 50vh;
}
.height-256px {
	height: 256px
}


/* Element Alignment */
.center {
	left: 50%;
	transform: translateX(-50%);
}

.middle {
	top: 50%;
	transform: translateY(-50%);
}

.center-middle {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%)
}
.left-bottom {
	left: 0;
	top: 100%;
	transform: translateY(-100%);
}

/* Text Aligntment */
.txt-center {
	text-align: center
}


/* Padding and Margin */
