/* CSS Document */

* {position: relative;}
body {
	margin: 0;
	background-color: #444;
	color: #eee;
	padding-bottom: 50vh;
}
.hidden {visibility: hidden; position: absolute; width: 0; height: 0} /*Hides elements*/
div.accent-line {
	margin: auto;
	height: 4px;
	width: 64px;
	background-color: #cd23a3;
	padding: 0px 0;
}

/* Photo with pop up caption*/
.photo {
	box-shadow: 0 2px 8px 0px #000;
	transition: box-shadow 1s;
	background-color: #F4F4F4;
	overflow: hidden;
}
.photo:hover {
	box-shadow: 0 2px 16px 4px #000;
}
.photo img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.photo .caption {
	position: absolute;
	top: 100%;
	transition: ease-out .4s;
	transition-property: transform;
	box-sizing: border-box;
	width: 100%;
	min-height: 3em;
	padding: 0px 2px;
	transform: translateY(0%);
	background: rgba(34,34,34,.5);
}
.photo .caption p {
	text-align: center;
	font-size: 1em;
}
.photo:hover .caption {
	transform: translateY(-100%);
	padding: 0px 2px;
}

/**** Text styles ****/
h1 {
	font-size: 3em;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
h2 {
	font-size: 1.75em;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
h3 {
	font-size: 1.5em;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
p, a {
	font-size: 1.25em;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	font-weight: lighter;
}
a {color: inherit;}
a:hover {color: #cd32a3;}

/**** Body styles ****/

/* Home */
#home header {
	box-shadow: inset 0 -64px 128px -64px #000;
}
#home header>div {
	margin: auto; 
	max-width: 1280px;
	height: 100vh;
	min-height: 256px;
	padding: 1px 16px;
}
#home header>div>div {
	display: inline-block;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%)
}
#home main>div {
	margin: auto; 
	box-shadow: 0 2px 8px 0px #000;
	max-width: 1280px;
	padding: 16px 16px;
	text-align: center;
}
#home footer>div {
	margin: auto;
	max-width: 1280px;
	padding: 16px 16px;
}

/* Topic */
#topic header {
	box-shadow: inset 0 -64px 128px -64px #000;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
#topic header>div {
	margin: auto; 
	max-width: 1280px;
	height: 256px;
	min-height: 256px;
	padding: 1px 16px;
}
#topic header>div>div {
	display: inline-block;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%)
}
#topic header>div>div h1{
	margin: 4px 0;
}
#topic main>div {
	margin: auto; 
	box-shadow: 0 2px 8px 0px #000;
	max-width: 1280px;
	padding: 16px 16px;
	text-align: center;
}
#topic footer>div {
	margin: auto;
	max-width: 1280px;
	padding: 16px 16px;
}

/* Gallery*/
#gallery header {
	box-shadow: inset 0 -64px 128px -64px #000;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
#gallery header>div {
	margin: auto; 
	max-width: 1280px;
	height: 256px;
	min-height: 256px;
	padding: 1px 16px;
}
#gallery header>div>div {
	display: inline-block;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%)
}
#gallery header>div>div h1{
	margin: 4px 0;
}
#gallery header>div>div div{
	margin: auto;
	height: 4px;
	width: 64px;
	background-color: #cd23a3;
	padding: 0px 0;
}

#gallery main>div {
	margin: auto; 
	box-shadow: 0 2px 8px 0px #000;
	max-width: 1280px;
	padding: 16px 16px;
	text-align: center;
}
#gallery footer>div {
	margin: auto;
	max-width: 1280px;
	padding: 16px 16px;
}

/* About */
#about header>div {
	margin: auto; 
	max-width: 1280px;
	height: 256px;
	min-height: 256px;
	padding: 64px 16px 1px;
}
#about header>div>div {
	display: inline-block;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%)
}
#about header>div>div h1{
	text-align: center;
	width: 384px;
	margin: 4px auto;
	padding: 4px 0;
}
#about main>div {
	margin: auto; 
	max-width: 1280px;
	padding: 16px 16px;
	text-align: center;
}
#about footer>div {
	margin: auto;
	max-width: 1280px;
	padding: 16px 16px;
}

/* Blogs  */
#blog header {
	box-shadow: inset 0 -64px 128px -64px #000;
}
#blog header>div {
	margin: auto; 
	max-width: 1280px;
	height: 50vh;
	min-height: 256px;
	padding: 16px 16px;
}
#blog header>div>div{
	left: 0;
	top: 100%;
	margin: 0;
	width: 800px;
	transform: translateY(-100%);
	padding: 4px 0;
}
#blog header>div>div h1{
	font-size: 3em;
	font-style: normal;
	margin: 4px 0;
	border-bottom: solid 4px #cd23a3;
	padding: 4px 0;
}
#blog header>div>div a{
	color: #eee;
}
#blog main>div {
	margin: auto; 
	box-shadow: 0 2px 8px 0px #000;
	max-width: 1280px;
	padding: 1px 16px;
	background-color: #eee;
	text-align: left;
	color: #222;
}
#blog footer>div {
	margin: auto;
	max-width: 1280px;
	padding: 16px 16px;
}