/* CSS Document */

* {position: relative;}
#page-top-padding {
	width: 100%;
	height: 64px;
}

body {
	margin: 0;
	background-color: #444;
	color: #eee;
	padding-bottom: 50vh;
}
.main {max-width: 1280px; margin: auto; padding: 0 16px 0 16px;} /*Restrits width of content and centers*/
.hidden {visibility: hidden; position: absolute; width: 0; height: 0} /*Hides elements*/

/**** Body styles ****/
/* Home */
body#home header {
	box-shadow: inset 0 -64px 128px -64px #000;
}
body#home header>div {
	margin: auto; 
	max-width: 1280px;
	height: 100vh;
	padding: 1px 16px;
}
body#home header>div>div {
	display: inline-block;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%)
}
body#blog main>div {
	margin: auto; 
	box-shadow: 0 2px 8px 0px #000;
	max-width: 1280px;
	padding: 1px 16px;
	text-align: center;
}

/* Blog */
body#blog header {
	box-shadow: inset 0 -64px 128px -64px #000;
	font-size: 1.5em;
	font-style: normal;
}
body#blog header>div {
	margin: auto; 
	max-width: 1280px;
	height: 50vh;
	padding: 1px 16px;
}
body#blog header h1#heading {
	left: 0;
	top: 100%;
	margin: 0px;
	transform: translateY(-100%);
}
body#blog main>div {
	margin: auto; 
	box-shadow: 0 2px 8px 0px #000;
	max-width: 1280px;
	padding: 1px 16px;
	background-color: #eee;
	text-align: left;
	color: #222;
}



/* Page header styles */

#heading-logo {
	display: inline-block;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%)
}
#heading-topic {
	font-size: 5em;
	font-style: normal;
}
/* Card styles */
.featured {
	box-sizing: border-box;
	width: 100%;
	height: 512px;
	padding: 16px;
}
.featured a {
	color: #222;
	font-size: 1.5em;
}
.featured img {
	box-sizing: border-box;
	width: 67%;
	height: 100%;
	object-fit: cover;
	float: left;
}
.featured>div {
	box-sizing: border-box;
	width: 33%;
	height: 100%;
	float: right;
	color: #222;
	background-color: #eee;
	padding: 10px;
}

/* Shadow styles */
.container-shadow {
	box-shadow: 0 0 4px 0px #000;
}
.image-shadow {
	box-shadow: 0 0 4px 0px #000;
}